<h1><%= @article.title %></h1>

<p>
  <small>Written <%= time_ago_in_words(@article.created_at) %> ago by <%= @article.user.username %></small>
</p>

<p><%= simple_format(@article.description) %></p>

<% if @article.categories.any? %>
  <hr>
  <p>
    Filled under: <%= render @article.categories %>
  </p>
<% end %>

<div>
  <hr>
  <%= link_to "View all articles", articles_path, class: "btn btn-sm btn-success" %>
  <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
    <%= link_to "Edit article", edit_article_path(@article.id), class: "btn btn-sm btn-primary" %>
    <%= link_to "Delete article", article_path(@article.id), method: :delete,
                data: {confirm: "Are you sure you want to delete the article?"},
                class: "btn btn-sm btn-danger" %>
    <% end %>
</div>
