<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AlphaBlog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">AlphaBlog</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to 'Home', root_path, {class: 'nav-link'} %>
          </li>
          <li class="nav-item">
            <%= link_to 'About', about_path, {class: 'nav-link'} %>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <% if flash.any? %>
    <div class="container my-3">
      <% flash.each do |key, value| %>
      <div class="alert alert-<%= flash_class(key) %>" role="alert">
        <%= value %>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% end %>
    </div>
  <% end %>

  <main class="container my-3">
    <%= yield %>
  </main>

  <footer class="container">
    <div class="container bg-light text-center">
      <span class="text-muted">&copy; 2018 Milan Vit</span>
    </div>
  </footer>
  </body>
</html>
